.fixed-top {
    position:sticky;
    top:0;
}

.header {
    background-color: white;
    margin-bottom: 10px;
}

a:link {
    text-decoration: none;
}

.user {
    font-size: xx-large;
    color:#ffc220;
}

i:hover {
    cursor: pointer;
}