.fixed-top {
    position:sticky;
    top:0;
}

.headerL {
    background-color: white;
    margin-bottom: 10px;
}

.headerD {
    background-color: gray;
    margin-bottom: 10px;
}

a:link {
    text-decoration: none;
}

.toggleS {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20;
}

.toggleM {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20;
}

i:hover {
    cursor: pointer;
}