.yellowOutline {
    border-style: solid;
    border-color: goldenrod;
    border-width: thick;
    max-height: 20rem;
    max-width: 80%;
}

.checkOutline {
    border-color: black;
    border-width: thick;
}
.show>.dropdown-menu {
    display: block;
    position: absolute;
}

.imgSize {
    height: 20px;
    width: 20px;
}

.settingsNav {
    position: absolute;
    color: black;
    top: 25px;
    right: 25px;
    font-size: 15px;
}