.yellowOutline {
    border-style: solid;
    border-color: goldenrod;
    border-width: thick;
    max-height: 20rem;
    max-width: 80%;
}

.checkOutline {
    border-color: black;
    border-width: thick;
}
.show>.dropdown-menu {
    display: block;
    position: absolute;
}

.imgSize {

}