.edit-container {
    display: flex;
    flex-direction: row;
}
.view-window {
    height: 500px;
    width: 500px;
    overflow: scroll;
}

.col {
    padding-top: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.box {
    border: 1px solid #333333;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* .view-window::-webkit-scrollbar {
    -webkit-appearance: none;
}

.view-window::-webkit-scrollbar:vertical {
    width: 11px;
} */